# Ignore everything
*

# But not these files...
!.gitignore
!.zshrc
!readme.md
!.vim/
!.tmux/
!start.sh
*.swp
.DS_Store
tags
releases/
database/dumps/*
!/.gitignore
!/dotfile-notes
!/dotfile-notes/*

*.log
*.swp

!/.vim
!/.vim/*
!/readme.md
!/start.sh

!/.tmux.conf
!/.tmux/plugins

!/.vimrc
!/.zshrc

!/dev.sh
