!/*
*.swp
tags
releases/
database/dumps/*
!/.gitignore
!/dotfile-notes
!/dotfile-notes/*

*.log
*.swp

!/.vim
!/.vim/*
!/readme.md
!/start.sh

!/.tmux.conf
!/.tmux/plugins

!/.vimrc
!/.zshrc

!/dev.sh
/*
